# Quizz 1 - Python basics

## a) type

### Create a variable `string` containing `"toto"` and a variable `number` containing the number 10.

In [2]:
a = "toto"
b = 10

### Reverse the contents of the variables `string` and `number` (from line 1).

In [3]:
a = "toto" [::-1]
b = 10 
print(str(b)[::-1])

01

## b) List

### Create a list `first_list`  containing the following integers: 1, 3, 2, 7, 4, 10, 46.

In [4]:
first_list = [1,3,2,7,4,10,46]


### Display the first 3 items in `first_list` - in one line of code.

In [74]:
first_list = [1,3,2,7,4,10,46]
N = 3
new_list = first_list[:N]

### Create a `second_list` that contains only the 3rd, 4th and 5th elements of `first_list` . Your list indexing should use 3 characters at most (not including spaces) - Check your result carefully!

In [75]:
second_list = [2,7,4]

### Concatenate `first_list` and `second_list` to form `third_list`.

In [15]:
res0 = first_list + second_list

### Using the zip function, associate the values of `first_list` and `second_list` in the variable `tuple_of_lists`.

In [8]:
zipped = zip(first_list, second_list)

### Add the number 5 to `first_list`.

In [9]:
first_list.append(5)

### Add a null element to `third_list`.

In [17]:
third_list = res0
third_list.append(None)

### Write a function that takes as arguments a list `my_list` and an integer `n` and returns the result of `n` concatenations of `my_list` with itself.

In [19]:

test_list = [12, 67, 98, 34, 43]
n = 3
  

print("The original list is : " + str(test_list))
  

res = test_list * n

      
 
print ("Double List is : " + str(res))

The original list is : [12, 67, 98, 34, 43]
Double List is : [12, 67, 98, 34, 43, 12, 67, 98, 34, 43, 12, 67, 98, 34, 43]

### You want to make parameter `n` optional and set its value to 2 by default. How do you do it?

In [20]:
test_list = [12, 67, 98, 34, 43]
n = 2
  

print("The original list is : " + str(test_list))
  

res = test_list * n

      
 
print ("Double List is : " + str(res))

The original list is : [12, 67, 98, 34, 43]
Double List is : [12, 67, 98, 34, 43, 12, 67, 98, 34, 43]

###  With a `while` loop, print each element of `third_list` up to the `null` element.

In [41]:
n = 0
while type(third_list[n])== int:
    
  print(third_list[n])   
  n+=1

1
3
2
7
4
10
46
5
2
7
4

### Calculate, with a `for` loop, the number of even integers present in the list `first_list`.

In [39]:
first_list
even_count = 0


for num in first_list:
  if num % 2 == 0:
    even_count += 1


print ("even_count :", even_count)

even_count : 4

### Rewrite the following expression with a multi-line `for` loop.

In [38]:
even_numbers = [element for element in first_list if element % 2 == 0]

In [45]:
pair = []

for x in first_list:
        if(x%2 == 0):
            pair.append(x)

print("La liste des entiers pair est : ",pair)

La liste des entiers pair est :  [2, 4, 10, 46]

### Create a function that takes a string as input and returns the first single letter of the string

In [46]:
thestring = "First letter of th string"

print(thestring[0])

F

## c) Dictionaries

### Create a `car` dictionary with the following keys and values:
| key  | value |
|---|---|
| brand  | Ford  |
| model  | Mustang |
| year  | 1964 |

In [50]:
car =  {"brand":"Ford",
        "model":"Mustang",
        "year":"1964"
        }
for key,value in car.items():
    print (key, value)

brand Ford
model Mustang
year 1964

### Access the `year` value.

In [53]:
display(car["year"])

'1964'

###  Use a loop to display all the dictionary keys.

In [63]:
car =  {"brand":"Ford",
        "model":"Mustang",
        "year":"1964"
        }
for key,value in car.items():
    display (key)

'brand'

'model'

'year'

###  Use a loop to display all the dictionary values.

In [71]:
car =  {"brand":"Ford",
        "model":"Mustang",
        "year":"1964"
        }
for value in car.values():
    display (value)

'Ford'

'Mustang'

'1964'

### Use a loop to display all the items in the dictionary. Display also the index of each loop iteration (`enumerate` function).

In [80]:
car =  {"brand":"Ford",
        "model":"Mustang",
        "year":"1964"
        }
index = 0        
for key,value in car.items():
    print (index,key,value)
    index += 1

0 brand Ford
1 model Mustang
2 year 1964

### With the help of a dictionary comprehension, create a dictionary with the following keys and values :
| key  | value |
|---|---|
| cle_1  | dictionary 'car' |
| cle_2  | dictionary 'car' |
| cle_3  | dictionary 'car'|

#### Example of a dictionary comprehension (similar to list comprehension):
```
my_dict = {key:value for key, value in zip(list_1, list_2)}
```

In [78]:
dict1 = {'cle_1': car, 'cle_2' : car, 'cle_3' : car }
display (dict1)

{'cle_1': {'brand': 'Ford', 'model': 'Mustang', 'year': '1964'},
 'cle_2': {'brand': 'Ford', 'model': 'Mustang', 'year': '1964'},
 'cle_3': {'brand': 'Ford', 'model': 'Mustang', 'year': '1964'}}

## d) Functions

### Create a Fibonacci function called `fibonacci`  (Fibonacci sequence: 0 1 1 2 3 5 8 13 ...)

It should return the list of all Fibonacci numbers leading up to the Fibonacci number that is bigger (or equal) than the number passed in as argument.
Ex : `fibonacci(10) return [0,1,1,2,3,5,8,13]`
Ex : `fibonacci(5) return [0,1,1,2,3,5]`

In [3]:
def fibonacci_of(n):
     if n in {0, 1}:  
         return n
     return fibonacci_of(n - 1) + fibonacci_of(n - 2)  

[fibonacci_of(n) for n in range(15)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

### Execute your function. `fibonacci(100)` must be executed in less than 1 second.

In [11]:
cache = {0: 0, 1: 1}

def fibonacci_of(n):
     if n in cache:  
         return cache[n]
  
     cache[n] = fibonacci_of(n - 1) + fibonacci_of(n - 2)  
[fibonacci_of(n) for n in range(100)]

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025,
 20365011074,
 32951280099,
 53316291173,
 86267571272,
 139583862445,
 225851433717,
 365435296162,
 591286729879,
 956722026041,
 1548008755920,
 2504730781961,
 4052739537881,
 6557470319842,
 10610209857723,
 17167680177565,
 27777890035288,
 44945570212853,
 72723460248141,
 117669030460994,
 190392490709135,
 308061521170129,
 498454011879264,
 806515533049393,
 1304969544928657,
 2111485077978050,
 3416454622906707,
 5527939700884757,
 8944394323791464,
 14472334024676221,
 23416728348467685,
 37889062373143906,
 61305790721611591,
 99194853094755497,
 160500643816367088,
 259695496911122585,
 420196140727489673,
 679891637638612258,
 1100087778366101931,
 1779979416004714189,
 2880067194370816120,
 4660046610375530309,
 7540113804746346429,
 12200160415121876738,
 19740274219868223167,
 31940434634990099905,
 51680708854858323072,
 83621143489848422977,
 135301852344706746049,
 218922995834555169026]

### Create the same function using a generator
Ex : `generate_fibonacci(10) `

In [18]:
def my_range(n):
    loop_counter = 0
    number = 0

    while loop_counter < n:
        yield number
        number += 1
        loop_counter += 1

for i in my_range(10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [19]:
numbers = list(my_range(10))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]